body {
	padding-bottom: 15px;
}
span.so {
	color: #336699;
}
span.bu {
	color: #eeeeee;
}
div.mid {
	background-color: #fafafa;
	border: solid #636363 1px;
	border-radius: 5px;
	text-align: center;
}
h2.login_text {
	margin-top: 0px;
}
.BOX{
	background-color: #fafafa;
	border: solid #636363 1px;
	border-radius: 5px;
	padding: 20px;
}
.login_email {
	padding: 20px;
	margin-top: 200px;
}
img.user_foto {
	width: 100%;
	max-width: 300px;
	max-height: 300px;
}
div.user_info {
	font-size: 22px;
}
div.user_search {
	font-size: 14px;
}
p.clear_both {
	clear: both;
}
hr.hr {
	padding: 0px;
	margin: 0px;
	color: #aaa;
}
ul.lijst_mensen_zoeken {
	padding-left: 15px;
	font-size: 14px;
}
.block {
	display: inline-block;
}
.no_pad_right {
	padding-right: 0px;
}
.no_pad_left {
	padding-left: 0px;
}
.no_pad_top {
	padding-top: 0px;
}
.no_pad_bottom {
	padding-bottom: 0px;
}
.pad_15_right {
	padding-right: 15px;
}
.pad_15_left {
	padding-left: 15px;
}
.pad_15_top {
	padding-top: 15px;
}
.pad_15_bottom {
	padding-bottom: 15px;
}
.no_margin_right {
	margin-right: 0px;
}
.no_margin_left {
	margin-left: 0px;
}
.no_margin_top {
	margin-top: 0px;
}
.no_margin_bottom {
	margin-bottom: 0px;
}
.margin_15_right {
	margin-right: 15px;
}
.margin_15_left {
	margin-left: 15px;
}
.margin_15_top {
	margin-top: 15px;
}
.margin_15_bottom {
	margin-bottom: 15px;
}
.margin_30_right {
	margin-right: 30px;
}
.margin_30_left {
	margin-left: 30px;
}
.margin_30_top {
	margin-top: 30px;
}
.margin_30_bottom {
	margin-bottom: 30px;
}
.links_bovenaan > li > a {
	color: #f00;
}
input.message {
	height: 200px;
}
input.file {
	width: 100%;
}
img.indicator_online_building {
	width: 20px;
	height: 20px;
}